    .container{
        margin-top:110px !important;
        margin-bottom: 66px !important;
    }
    @media (max-width:768px) {
        .container { margin-top: 150px !important;
        margin-bottom: 66px !important;}
    }
    
        
    @media (max-width:350px) {
        .container { margin-top: 170px !important;
        margin-bottom: 66px !important;}
    }